{% extends 'base.html' %}

{% block title %}Weather for You{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-5 offset-1">
                <h1>Погода в вашем городе</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="city" class="mb-2"><b>Город</b></label>
                    {{ form.title }}
                    <input type="submit" name="send" value="Узнать" class="btn btn-outline-success">
                </form>

            </div>
            <div class="col-4 offset-1">
                <h1>Данные</h1>
                {% for city in info %}
                    <div class="alert alert-primary">
                        <div class="row">
                            <div class="col-9">
                                Сейчас в городе <b>{{ city.title|title }}</b><br>
                                Температура <b>{{ city.temperature }} <sup>o</sup>C</b>
                            </div>
                            <div class="col-2 offset-1">
                                <img src="http://openweathermap.org/img/wn/{{ city.icon }}.png" alt="">
                            </div>
                        </div>

                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
