{% extends 'base.html' %}

{% block title %}Weather for You{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-5 offset-1">
                <h1>Погода в вашем городе</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    <label for="city">Город</label>
                    <input type="text" name="city" id="city" class="form-control"
                           placeholder="Введите город">
                    <input type="submit" name="send" value="Узнать" class="btn btn-outline-success">
                </form>

            </div>
            <div class="col-4 offset-1">
                <h1>Данные</h1>
                <div class="alert alert-primary">
                    <div class="row">
                        <div class="col-9">
                            Сейчас в городе <b>{{ city }}</b><br>
                            Температура <b>{{ temperature }} <sup>o</sup>C</b>
                        </div>
                        <div class="col-2 offset-1">
                            <img src="http://openweathermap.org/img/wn/{{ icon }}.png" alt="">
                        </div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
